.ngxmdp {
    position: relative;
}

.ngxmdp * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.ngxmdp .selector {
    margin-top: 2px;
    margin-left: -1px;
    position: absolute;
    width: 252px;
    padding: 0;
    border: 1px solid #CCC;
    border-radius: 4px;
    z-index: 100;
    animation: selectorfadein 0.06s;
}

.ngxmdp .selector:focus {
    border: 1px solid #ADD8E6;
    outline: none;
}

@keyframes selectorfadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ngxmdp .selectorarrow {
    background: #FAFAFA;
    margin-top: 12px;
    padding: 0;
}

.ngxmdp .selectorarrow:after,
.ngxmdp .selectorarrow:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.ngxmdp .selectorarrow:after {
    border-color: rgba(250, 250, 250, 0);
    border-bottom-color: #FAFAFA;
    border-width: 10px;
    margin-left: -10px;
}

.ngxmdp .selectorarrow:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #CCC;
    border-width: 11px;
    margin-left: -11px;
}

.ngxmdp .selectorarrow:focus:before {
    border-bottom-color: #ADD8E6;
}

.ngxmdp .selectorarrowleft:after,
.ngxmdp .selectorarrowleft:before {
    left: 24px;
}

.ngxmdp .selectorarrowright:after,
.ngxmdp .selectorarrowright:before {
    left: 224px;
}

.ngxmdp .invalidmonth,
.ngxmdp .invalidyear {
    background-color: #F1DEDE;
}

.ngxmdp ::-ms-clear {
    display: none;
}

.ngxmdp .headertodaybtnenabled,
.ngxmdp .headerbtnenabled {
    cursor: pointer;
}

.ngxmdp .headertodaybtndisabled,
.ngxmdp .headerbtndisabled {
    cursor: not-allowed;
}

.ngxmdp .headerbtndisabled {
    opacity: 0.4;
}

.ngxmdp .headertodaybtn {
    background: #FFF;
}

.ngxmdp .header {
    width: 100%;
    height: 30px;
    border-radius: 4px 4px 0 0;
    background-color: #FAFAFA;
}

.ngxmdp .header td {
    vertical-align: middle;
    border: none;
    line-height: 0;
}

.ngxmdp .header td:nth-child(1) {
    padding-left: 4px;
}

.ngxmdp .header td:nth-child(2) {
    text-align: center;
}

.ngxmdp .header td:nth-child(3) {
    padding-right: 4px;
}

.ngxmdp .caltable {
    table-layout: fixed;
    width: 100%;
    background-color: #FFF;
    border-radius: 0 0 4px 4px;
    font-size: 14px;
}

.mydp .caltable tbody tr:nth-child(6) td:first-child {
    border-bottom-left-radius: 4px;
}

.mydp .caltable tbody tr:nth-child(6) td:last-child {
    border-bottom-right-radius: 4px;
}

.ngxmdp .caltable,
.ngxmdp .weekdaytitle,
.ngxmdp .daycell {
    border-collapse: collapse;
    color: #003366;
    line-height: 1.1;
}

.ngxmdp .weekdaytitle,
.ngxmdp .daycell {
    padding: 5px;
    text-align: center;
}

.ngxmdp .weekdaytitle {
    background-color: #DDD;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    max-width: 36px;
    overflow: hidden;
    white-space: nowrap;
}

.ngxmdp .daycell {
    cursor: pointer;
    height: 30px;
}

.ngxmdp .daycell div {
    background-color: inherit;
    vertical-align: middle;
}

.ngxmdp .daycell div span {
    vertical-align: middle;
}

.ngxmdp .prevmonth,
.ngxmdp .nextmonth {
    color: #CCC;
}

.ngxmdp .disabled {
    cursor: default !important;
    color: #CCC !important;
    background: #FBEFEF !important;
}

.ngxmdp .sunday {
    color: #C30000;
}

.ngxmdp .sundayDim {
    opacity: 0.5;
}

.ngxmdp .currmonth {
    background-color: #F6F6F6;
    font-weight: bold;
}

.ngxmdp .currday {
    text-decoration: underline;
}

.ngxmdp .selectedday div {
    border: 1px solid #004198;
    background-color: #8EBFFF !important;
    border-radius: 2px;
}

.ngxmdp .headerbtncell {
    background-color: #FAFAFA;
    display: table-cell;
    vertical-align: middle;
}

.ngxmdp .headerbtn,
.ngxmdp .headerlabelbtn {
    background: #FAFAFA;
    border: none;
    height: 18px;
}

.ngxmdp .headerbtn {
    width: 16px;
}

.ngxmdp .headerlabelbtn {
    font-size: 14px;
    outline: none;
}

.ngxmdp .headerlabelbtnnotedit {
    cursor: default;
}

.ngxmdp .headertodaybtn,
.ngxmdp .monthinput,
.ngxmdp .yearinput {
    border: 1px solid #CCC;
}

.ngxmdp .headerbtn,
.ngxmdp .headermonthtxt,
.ngxmdp .headeryeartxt,
.ngxmdp .headertodaybtn {
    color: #000;
}

.ngxmdp .headertodaybtn {
    padding: 0 4px;
    border-radius: 2px;
    font-size: 11px;
    height: 22px;
    min-width: 60px;
    max-width: 70px;
    overflow: hidden;
    white-space: nowrap;
}

.ngxmdp button::-moz-focus-inner {
    border: 0;
}

.ngxmdp .headermonthtxt,
.ngxmdp .headeryeartxt {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    height: 26px;
    width: 40px;
    max-width: 40px;
    overflow: hidden;
    white-space: nowrap;
}

.ngxmdp .headertodaybtn:focus {
    background: #ADD8E6;
}

.ngxmdp .headerbtn:focus,
.ngxmdp .monthlabel:focus,
.ngxmdp .yearlabel:focus {
    color: #ADD8E6;
    outline: none;
}

.ngxmdp .daycell:focus {
    outline: 1px solid #CCC;
}

.ngxmdp .icon-calendar,
.ngxmdp .icon-cross {
    font-size: 16px;
}

.ngxmdp .icon-left,
.ngxmdp .icon-right {
    color: #222;
    font-size: 16px;
    vertical-align: middle;
}

.ngxmdp table {
    display: table;
    border-spacing: 0;
}

.ngxmdp table td {
    padding: 0;
}

.ngxmdp table,
.ngxmdp th,
.ngxmdp td {
    border: none;
}

.ngxmdp .headertodaybtnenabled:hover,
.ngxmdp .tablesingleday:hover {
    background-color: #8BDAF4;
}

.ngxmdp .monthlabel,
.ngxmdp .yearlabel {
    cursor: pointer;
}

.ngxmdp .yearinput,
.ngxmdp .monthinput {
    width: 40px;
    height: 22px;
    text-align: center;
    font-weight: bold;
    outline: none;
    border-radius: 2px;
}

.ngxmdp .headerbtnenabled:hover,
.ngxmdp .monthlabel:hover,
.ngxmdp .yearlabel:hover {
    color: #8BDAF4;
}

@font-face {
    font-family: 'ngx-mydatepicker';
    src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SAssAAAC8AAAAYGNtYXDMUczTAAABHAAAAGxnYXNwAAAAEAAAAYgAAAAIZ2x5ZmFQ1q4AAAGQAAABbGhlYWQGZuTFAAAC/AAAADZoaGVhB4IDyQAAAzQAAAAkaG10eBYAAnAAAANYAAAAIGxvY2EBdAE0AAADeAAAABJtYXhwABUAPgAAA4wAAAAgbmFtZQ5R9RkAAAOsAAABnnBvc3QAAwAAAAAFTAAAACAAAwOaAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmBwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAUAAAABAAEAADAAAAAQAg5gDmAuYF5gf//f//AAAAAAAg5gDmAuYF5gf//f//AAH/4xoEGgMaARoAAAMAAQAAAAAAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAAMAEAAAAPAA4AABAAJAA4AEwAYAB0AIgAnACwAMQA2ADsAABMRMxEjFyE1IRUDITUhFQERMxEjJRUzNSMTFTM1IzMVMzUjMxUzNSMBFTM1IzMVMzUjMxUzNSMTFTM1I0Bzc0ADAP0AQAOA/IADDXNz/ZOAgCCAgMCAgMCAgP6AgIDAgIDAgIAggIADAP1AAsBzc3P9c3NzAwD9QALAgMDA/sCAgICAgID/AICAgICAgAJAwMAAAAAAAgBwADADkANQAAQACQAANwEnARcDATcBB+kCp3n9WXl5Aqd5/Vl5MAKnef1ZeQKn/Vl5Aqd5AAABAOAAAAMgA4AAAwAAAQMBJQMgA/3DASADgPyAAcPfAAEA4AAAAyADgAADAAA3EwEF4AMCPf7gAAOA/j3fAAAAAQAAAAEAAF0/BsNfDzz1AAsEAAAAAADRxFAkAAAAANHEUCQAAAAAA8ADgAAAAAgAAgAAAAAAAAABAAADwP/AAAAEAAAAAAADwAABAAAAAAAAAAAAAAAAAAAACAQAAAAAAAAAAAAAAAIAAAAEAABABAAAcAQAAOAEAADgAAAAAAAKABQAHgB6AJYApgC2AAAAAQAAAAgAPAAMAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAAkAAAABAAAAAAACAAcAcgABAAAAAAADAAkAPAABAAAAAAAEAAkAhwABAAAAAAAFAAsAGwABAAAAAAAGAAkAVwABAAAAAAAKABoAogADAAEECQABABIACQADAAEECQACAA4AeQADAAEECQADABIARQADAAEECQAEABIAkAADAAEECQAFABYAJgADAAEECQAGABIAYAADAAEECQAKADQAvHZzZHBpY2tlcgB2AHMAZABwAGkAYwBrAGUAclZlcnNpb24gMS4wAFYAZQByAHMAaQBvAG4AIAAxAC4AMHZzZHBpY2tlcgB2AHMAZABwAGkAYwBrAGUAcnZzZHBpY2tlcgB2AHMAZABwAGkAYwBrAGUAclJlZ3VsYXIAUgBlAGcAdQBsAGEAcnZzZHBpY2tlcgB2AHMAZABwAGkAYwBrAGUAckZvbnQgZ2VuZXJhdGVkIGJ5IEljb01vb24uAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ngxmdp .icon {
    font-family: 'ngx-mydatepicker';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ngxmdp .icon-calendar:before {
    content: "\e600";
}

.ngxmdp .icon-cross:before {
    content: "\e602";
}

.ngxmdp .icon-left:before {
    content: "\e605";
}

.ngxmdp .icon-right:before {
    content: "\e607";
}