<style>
    .settingstable,
    .pickertable {
        width: 100%;
        border: none;
    }
    .settingstable tr td {
        width: 50%;
        border: none;
    }
    .pickertable tr td {
        vertical-align: top;
    }
    .pickertable tr td:first-child {
        width: 240px;
    }
    .pickertable tr td:last-child {
        width: calc(100% - 260px);
        padding-left: 20px;
    }
    .border {
        padding: 4px;
        border-radius: 4px;
        float: right;
        width: 100%;
    }
    .buttondiv {
        margin: 15px 0;
    }
    .okDate {
        color: #3c764d;
        background-color: #dff0d6;
        border: 1px solid #d6e9c2;
    }
    .invalidDate {
        color: #a94444;
        background-color: #f1dede;
        border: 1px solid #ebccd2;
    }
</style>

<div>
    <table class="settingstable">
        <tr>
            <td>
                <label>
                    <span>Show today button:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onShowTodayButton($event.currentTarget.checked)" [checked]="true">
                </label>
            </td>
            <td>
                <label>
                    <span>Open selector top of input field:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onOpenSelectorTopOfInput($event.currentTarget.checked)" [checked]="false">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <span>Align selector right:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onAlignSelectorRight($event.currentTarget.checked)" [checked]="false">
                </label>
            </td>
            <td>
                <label>
                    <span>Show selector arrow:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onShowSelectorArrow($event.currentTarget.checked)" [checked]="true">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <span>Month selector:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onMonthSelector($event.currentTarget.checked)" [checked]="true">
                </label>
            </td>
            <td>
                <label>
                    <span>Year selector:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onYearSelector($event.currentTarget.checked)" [checked]="true">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <span>Disable today:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onDisableToday($event.currentTarget.checked)" [checked]="false">
                </label>
            </td>
            <td>
                <label>
                    <span>Mark today:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onMarkToday($event.currentTarget.checked)" [checked]="false">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <span>Mark weekends:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onMarkWeekends($event.currentTarget.checked)" [checked]="false">
                </label>
            </td>
            <td>
                <label>
                    <span>Disable weekends:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onDisableWeekends($event.currentTarget.checked)" [checked]="false">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <span>Highlight Saturday:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onHighlighSaturday($event.currentTarget.checked)" [checked]="false">
                </label>
            </td>
            <td>
                <label>
                    <span>Highlight Sunday:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onHighlighSunday($event.currentTarget.checked)" [checked]="true">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <span>Highlight dates:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onHighlightDates($event.currentTarget.checked)" [checked]="false">
                </label>
            </td>
            <td>
                <label>
                    <span>Disable header buttons:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onDisableHeaderButtons($event.currentTarget.checked)" [checked]="true">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <span>Show week numbers:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onShowWeekNumbers($event.currentTarget.checked)" [checked]="false">
                </label>
            </td>
            <td>
                <label>
                    <span>Disable input box:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onDisableInput($event.currentTarget.checked)" [checked]="false">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <span>Close selector on date select:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onCloseSelectorOnDateSelect($event.currentTarget.checked)" [checked]="true">
                </label>
            </td>
            <td>
                <label>
                    <span>Close selector on document click:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onCloseSelectorOnDocumentClick($event.currentTarget.checked)" [checked]="true">
                </label>

            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <span>Allow selection only current month:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onAllowSelectionOnlyCurrentMonth($event.currentTarget.checked)" [checked]="true">
                </label>
            </td>
            <td>
                <label>
                    <span>Append selector to body:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onAppendSelectorToBody($event.currentTarget.checked)" [checked]="false">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <span>Disable Wednesday:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onDisableWednesday($event.currentTarget.checked)" [checked]="false">
                </label>
            </td>
            <td>
                <label>
                    <span>Disable 24th day of every month:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onDisable24Day($event.currentTarget.checked)" [checked]="false">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <span>Focus input box on date select:</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onFocusInputOnDateSelect($event.currentTarget.checked)" [checked]="true">
                </label>
            </td>
            <td>
                <label>
                    <span style="margin-right: 10px">Selector size:</span>
                    <span>
                        <select style="padding: 2px;cursor: pointer;font-size: 11px;min-width: 60px;" (change)="onSelectorSize($event.target.value)">
                            <option *ngFor="let s of selectorSizes">{{s}}</option>
                        </select>
                    </span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <span>Add strings to dates</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onDateStringsToggle($event.currentTarget.checked)" [checked]="false">
                </label>
            </td>
            <td>
                <label>
                    <span>Hide not current month</span>
                    <input style="cursor: pointer" type="checkbox" (change)="onHideNonCurrentMonthToggle($event.currentTarget.checked)" [checked]="false">
                </label>
            </td>
        </tr>
    </table>


    <div class="buttondiv">
        <button style="cursor: pointer" type="button" (click)="dp.toggleCalendar()">Toggle</button>
        <button style="cursor: pointer" type="button" (click)="dp.openCalendar()">Open</button>
        <button style="cursor: pointer" type="button" (click)="dp.closeCalendar()">Close</button>
        <button style="cursor: pointer" type="button" (click)="clearDate()">Clear</button>
    </div>


    <table class="pickertable">
        <tr>
            <td>
                <form>
                    <div class="input-group">

                        <input class="form-control" style="float:none" placeholder="Select a date" ngx-mydatepicker name="mydate"
                                [(ngModel)]="model" [options]="myDatePickerOptions" [defaultMonth]="defMonth" #dp="ngx-mydatepicker"
                                (dateChanged)="onDateChanged($event)" (calendarViewChanged)="onCalendarViewChanged($event)"
                                (calendarToggle)="onCalendarToggle($event)" (inputFieldChanged)="onInputFieldChanged($event)" [attr.disabled]="disabled?'':null" autocomplete="off"/>

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" (click)="dp.clearDate()"><i class="glyphicon glyphicon-remove"></i></button>
                            <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>

                    </div>
                </form>
            </td>
            <td>
                <div *ngIf="inputText !== ''" class="border" [ngClass]="{'okDate': validDate, 'invalidDate': !validDate}">
                    <span *ngIf="validDate">{{selectedTextNormal}}</span>
                    <span *ngIf="!validDate">Invalid date</span>
                </div>
            </td>
    </table>

</div>

